* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind", sans-serif;
}
/* Star header */
header {
  position: absolute;
  z-index: 999;
  width: 100%;
  background-color: transparent;
  color: white;
}
header .nav-item .nav-link {
  color: white;
  margin: 0 20px;
  position: relative;
  overflow: hidden;
}
header .nav-link:hover {
  color: #35a22c;
  transition: 0.3s;
}
header .nav-item.active .nav-link {
  color: #35a22c;
}
header .nav-item.active .nav-link::after {
  transform: translateX(0);
}
header .nav-item .nav-link::after {
  position: absolute;
  display: block;
  content: "";

  width: 100%;
  height: 2px;
  background: #35a22c;
  bottom: 0;
  left: 0;

  transform: translateX(-100%);
  transition: all 0.3s;
}
header .nav-item:hover .nav-link::after {
  transform: translateX(0);
}
#porfolio__carousel .carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}
#porfolio__carousel .carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}
#porfolio__carousel .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
#porfolio__carousel .carousel-indicators {
  bottom: 30px;
}
#porfolio__carousel .carousel-item {
  position: relative;
  height: 100vh;
}
#porfolio__carousel .carousel-item::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
}
#porfolio__carousel .carousel-indicators li.active {
  background-color: #35a22c;
}
/* Animate Css */
.animate__animated.animate__fadeInUp {
  animation-duration: 1s;
}
#porfolio__carousel .carousel-inner h5 {
  font-size: 56px;
}
#porfolio__carousel .carousel-inner p {
  font-size: 24px;
}
/* End Carousel */
/* Star Portfolio Projects */
#portfolio__project .nav {
  justify-content: center;
}
#portfolio__project .card {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#portfolio__project .nav-pills .nav-link.active {
  background: #35a22c;
  color: white;
  border-color: #35a22c;
}
#portfolio__project .nav-pills .nav-link {
  color: #1a1d2d;
  border: 1px solid #1a1d2d;
  margin: 0 5px;
}
#portfolio__project .card-body {
  border: 1px solid transparent;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top: none;
  transition: all 0.3s;
}
#portfolio__project .card:hover .card-body {
  border-color: #35a22c;
}
#portfolio__project .card:hover .card-title {
  color: #35a22c;
}
#portfolio__project .project__content p {
  color: #585858;
}
#portfolio__project .card {
  cursor: pointer;
}
/* End Portfolio__project */
/* Start Portfolio__feature  */
#portfolio__feature {
  background: url(./image/3.jpg) no-repeat center;
  padding: 100px 0px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
#portfolio__feature .overlay {
  background: rgba(7, 10, 12, 0.72);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#portfolio__feature .feature__heading {
  position: relative;
  max-width: 750px;
}
#portfolio__feature .feature__heading h2 {
  font-size: 36px;
  line-height: 42px;
  font-weight: 600;
}
.content__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}
.feature__item {
  padding: 40px 40px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  transition: all 0.5s;
}
.feature__item i {
  font-size: 48px;
  color: #35a22c;
}
.feature__item h4 {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  padding-top: 25px;
  font-weight: 800;
}
.feature__item p {
  padding-top: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.feature__item:hover {
  background: #000;
  border-color: #fff;
}
/* Start Achievements */
#portfolio__achievement {
  position: relative;
  color: #585858;
  padding: 70px 0;
}
#portfolio__achievement .achievement__background {
  background-image: url(./image/memphis_3.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 50% auto;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#portfolio__achievement .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
#portfolio__achievement .achievement__left {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
  padding: 45px;
}
.heading h2 {
  font-size: 36px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: 600;
}
.heading p {
  color: #585858;
  line-height: 24px;
}
#portfolio__achievement .achivement__right {
  padding: 45px 0;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
/* end porfolio__achievement */
/* Start footer*/
footer {
  background: #222;
}
footer .footer__social a {
  margin-right: 10px;
  color: #aaa;
}
footer .footer__social a:hover {
  text-decoration: none;
  color: #35a22c;
}
footer .footer__social i {
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  border: 1px solid #454545;
  transition: all 0.5s;
}
footer .footer__social i:hover {
  border-color: #35a22c;
}
footer .footer__copyright {
  border-top: 1px solid #454545;
  padding-top: 30px;
  margin-top: 30px;
}
footer .footer__copyright p {
  color: #aaa;
  margin: 0;
}
footer .footer__copyright a {
  color: #aaa;
}
footer .footer__copyright a:hover {
  color: #35a22c;
  text-decoration: none;
}
